body {
    background-color: gray;
}
.formcontainer{
    background-color: deepskyblue;
}
.person{
    margin: 10%;
    box-shadow: 3px 3px gray;
}
.cars-tags:hover span.cars-tags:after{
    cursor: pointer;
    content: 'X';
    font-size: 17px;
}